<div class="article_card" dir="rtl">
  <img
    mat-card-image
    class="article_card__image"
    [src]="article().img"
    alt="Photo of a Shiba Inu"
  />
  <h3 class="article_card__title">{{ article().title }}</h3>
  <p class="article_card__description">{{ article().abstract }}...</p>
  <!-- <p class="article_card__date">{{ article().date | persianDate }}</p> -->
  <div>
    {{ 50000000 | discount }}
  </div>
  <div>
    {{ 51000000 | discount }}
  </div>
  <div>
    {{ 90000000 | discount }}
  </div>
  <div>
    {{ 120000000 | discount }}
  </div>
  <div>
    {{ 121000000 | discount }}
  </div>
</div>
